.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.clock{
  background-color: red;
  position: static;
  height: 300px;
  width: auto;

}
.asmr_music{
  background-color: green;
  position: static;
  height: 100px;
  width: auto;
}
.classic_music{
  background-color: blue;
  position: static;
  height: 100px;
  width: auto;
}
.to_do_list{
  background-color: pink;
  position: static;
  height: 350px;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
